body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.header__main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header__link{
    color: aquamarine;
    font-size: 16px;
}

.header__secondary{
    font-weight: 300;
    font-size: 42px;
}

.par__secondary{
    font-size: 21px;
    color: gray;
}